<% include ../partials/header.ejs %>
<h1 class="title">Lists</h1>
<div class="list__container">
    <a href="/lists/new">
        <div class="buttonx buttonx--secondary">Add New List</div>
    </a>
    <div>
        <% lists.forEach(function(list){ %>
            <div class="list">
                <div class="list__left">
                    <div class="list__image">
                        <% var isbn = list.listBooks[0] %>
                        <% var url = "https://covers.openlibrary.org/b/isbn/"+isbn+"-M.jpg" %>
                        <img src=<%= url %> />
                    </div>
                </div>
                <div class="list__right">
                    <div class="list__name">
                        <p><strong>Name: </strong><%= list.listName %> </p>
                    </div>
                    <div class="list__desc">
                        <p><strong>Description: </strong><%= list.listDesc %></p>                
                    </div>
                    <div class="list__btns">
                        <div class="list__btn">
                            <a href="/lists/<%= list._id %>"><div class="buttonx buttonx--tertiary buttonx--small">More Info</div></a>                
                        </div>
<% if(currentUser != null){ %>
    <% if(list.user.id.equals(currentUser._id)){ %>
        <div style="display: flex;">
        <a href="/lists/<%= list._id %>/edit"><div class="buttonx buttonx--secondary">Edit</div></a>
        <a href="/search"><div class="buttonx buttonx--secondary">Add Books</div></a>
        </div>
    <% } %>
<% } %>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    
    <% include ../partials/footer.ejs %>