<% include ../partials/header %>
    <h1>
        Individual List
    </h1>
    <div>
        List name is:
        <p>
            <%= list.listName %> <br>
            <%= list.listDesc %>
            <%= list._id %>
        </p> 
    </div>
    <div>
        Books are:
        <% if(data!=null){%>
            <% var max = data.length %>
            <% var rng = max %>
            <%= rng %>
            <% for(var i=0; i<rng; i++) { %>
                <p><%= i+1 %></p>
                <p></p><%= data[i].title %></p>
                <% if (data[i].isbn != null) {%>
                    <% var isbn = data[i].isbn[0] %>
                    <% var url = "https://covers.openlibrary.org/b/isbn/"+isbn+"-M.jpg" %>
                    <img src=<%= url %> />
                <% } %>
                <hr>
            <% } %>
        <% } %>
    </div>
    <br>
    <br>
    <h1>Comments</h1>
    <% commentData.forEach(function(comment){ %>
        <p><%= comment.text %></p>
        <h6><%= comment.author.username %></h6>
        <hr>
    <% }) %>
    <% if (currentUser != null) { %>
        <p>"/lists/<%= list._id %>/comments"</p>
        <form action="/lists/<%= list._id %>/comments/?id=<%= list._id %>" method="POST">
            <textarea rows="4" cols="50" name="commentText" placeholder="Review Me!"></textarea>
            <button type="submit">Post It!</button>
        </form>
    <% } %>

    
<% include ../partials/footer %>